<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
    <key>dashIndexFilePath</key>  
    <string>index.html</string>  
    <key>CFBundleIdentifier</key>  
    <string>GoDocCn</string>  
    <key>CFBundleName</key>  
    <string>GoDocCn</string>  
    <key>DocSetPlatformFamily</key>  
    <string>GoDocCn</string>  
    <key>isDashDocset</key>  
    <true/>  
</dict>  
</plist> 
